@model SclBaseball.Models.Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InningsPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InningsPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOnRadio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOnRadio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RadioStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadioStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
