@model IEnumerable<SclBaseball.Models.Game>

@{
    ViewBag.Title = $"{DateTime.Now.Year} Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h2>@DateTime.Now.Year Games</h2>

        @Html.ActionLink("Create New", "Create")
        <div class="row">
            <div class="col-lg-9 col-lg-offset-1">
                @using (Html.BeginForm("Index", "Game", FormMethod.Get))
                {
                    <p>
                        <div>
                            Filter by Team: @Html.TextBox("SearchString")
                            <button class="btn btn-primary" id="filter" style="margin-left:10px;">Filter</button>
                            @Html.ActionLink("Reset", "Index", "Game", new { @class = "btn btn-default", @id = "clear" })
                        </div>
                    </p>
                }
            </div>
        </div>
    </div>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.AwayTeam} @ {item.HomeTeam} : {item.ScheduledDate}", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
