@model List<SclBaseball.ViewModels.ScheduleViewModel>

@{
    ViewBag.Title = $"{DateTime.Now.Year} South Central League Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>@DateTime.Now.Year South Central League Schedule</h2>

        @*@Html.ActionLink("Create New", "Create")*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        @*<div><span><button type="button" class="btn btn-danger btn-toggle-reg-szn">Show Regular Season</button></span></div>
        <div><span>&nbsp;</span></div>
        <div><span><button type="button" class="btn btn-danger btn-toggle-districts">Show District Results</button></span></div>*@

        <div class="scl-regular-season-container"> @*style="display:none;">*@
            @foreach (var scheduledDate in Model)
            {
                <br />
                @*@game.GameClass*@
                <div class="scheduled-game-header @scheduledDate.HeaderClass"><strong>@scheduledDate.ScheduledDate.ToString("dddd, MMMM dd")</strong></div>

                foreach (var game in scheduledDate.ScheduledGames)
                {
                    <div class="scheduled-game">
                        <span class="@game.GameClass">
                            @game.ScheduledGameText <span>@game.RadioStationText @game.PostponedText</span>
                        </span>
                    </div>
                }
            }
        </div>

        <div class="scl-districts-container"> @*style="display:none;">*@
            <br />
            <div>
                <div class="scheduled-game-header"><strong>District 6A Tournament - TBD</strong></div>
                <div class="scheduled-game-date"><strong>Dates/Times TBD</strong></div>
            </div>

            <br />
            <div>
                <div class="scheduled-game-header"><strong>District 6B Tournament - TBD</strong></div>
                <div class="scheduled-game-date"><strong>Thursday, July 21 - Saturday, July 30</strong></div>
            </div>
        </div>

        @*<br />
        <div>
            <div class="scheduled-game-header"><strong><a href="~/postseason">View the Full Brackets</a></strong></div>
        </div>*@

        <br />
        <div>
            <div class="scheduled-game-header"><strong>Class A State Tournament - 1st Round - TBD</strong></div>
            <div class="scheduled-game-date"><strong>Dates/Times TBD</strong></div>
        </div>

        @*<br />
        <div>
            <div class="scheduled-game-date game-played"><strong>Sunday, August 8</strong></div>
            <div class="scheduled-game"><span class="game-played">Yankton 2 vs Black Hills A's 4 (11AM)</span></div>
            <div class="scheduled-game game-played" style="font-style:italic;font-weight:bold;font-size:85%;"><span>Yankton is eliminated</span></div>
        </div>*@

        <br />
        <div>
            <div class="scheduled-game-header"><strong>Class A State Tournament - Second Round - Mitchell</strong></div>
            <div class="scheduled-game-date"><strong>Friday, August 12 - Sunday, August 14</strong></div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-header"><strong>Class B State Tournament - Mitchell</strong></div>
            <div class="scheduled-game-date"><strong>Wednesday, August 3 - Sunday, August 14</strong></div>
            @*<div class="scheduled-game"><span class="game-played">Menno 10 vs Redfield DQ 8 (11AM)</span></div>
            <div class="scheduled-game"><span class="game-played">Tabor 4 vs Flandreau 9 (7:30PM)</span></div>
            <div class="scheduled-game game-played" style="font-style:italic;font-weight:bold;font-size:85%;"><span>Tabor is eliminated</span></div>*@
        </div>

        @*<br />
        <div>
            <div class="scheduled-game-date game-played"><strong>Friday, August 6</strong></div>
            <div class="scheduled-game"><span class="game-played">Crofton 2 vs Volga 3 (1PM)</span></div>
            <div class="scheduled-game game-played" style="font-style:italic;font-weight:bold;font-size:85%;"><span>Crofton is eliminated</span></div>
            <div class="scheduled-game"><span class="game-played">Wynot 9 vs Four Corners 2 (5:30PM)</span></div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-date game-played"><strong>Saturday, August 7</strong></div>
            <div class="scheduled-game"><span class="game-played">Lesterville 6 vs Dell Rapids PBR 5 (11AM)</span></div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-date game-played"><strong>Sunday, August 8</strong></div>
            <div class="scheduled-game"><span class="game-played">Menno 3 vs Plankinton Bankers 13 (7:30PM)</span></div>
            <div class="scheduled-game game-played" style="font-style:italic;font-weight:bold;font-size:85%;"><span>Menno is eliminated</span></div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-date game-played"><strong>Tuesday, August 10</strong></div>
            <div class="scheduled-game"><span class="game-played">Wynot 5 vs Dell Rapids Mudcats 13 (5:30PM)</span></div>
            <div class="scheduled-game game-played" style="font-style:italic;font-weight:bold;font-size:85%;"><span>Wynot is eliminated</span></div>
            <div class="scheduled-game"><span class="game-played">Lesterville 2 vs Larchwood 3 (7:30PM)</span></div>
            <div class="scheduled-game game-played" style="font-style:italic;font-weight:bold;font-size:85%;"><span>Lesterville is eliminated</span></div>
        </div>
    </div>*@
</div>

<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-toggle-reg-szn').click(function () {
            $('.scl-regular-season-container').slideToggle("fast");
            var btnToggleButton = $('.btn-toggle-reg-szn');
            var btnText = btnToggleButton.text();
            if (btnText === "Show Regular Season") {
                btnToggleButton.text("Hide Regular Season");
            } else {
                btnToggleButton.text("Show Regular Season");
            }
        });

        $('.btn-toggle-districts').click(function () {
            $('.scl-districts-container').slideToggle("fast");
            var btnToggleButton = $('.btn-toggle-districts');
            var btnText = btnToggleButton.text();
            if (btnText === "Show District Results") {
                btnToggleButton.text("Hide District Results");
            } else {
                btnToggleButton.text("Show District Results");
            }
        });

        // TODO: Look at doing this with an animation, to scroll to the most recently completed games.
        //document.getElementById('most-recent').scrollIntoView(); 
    });
</script>