@model IEnumerable<SclBaseball.ViewModels.ScheduleViewModel>

@{
    ViewBag.Title = $"{DateTime.Now.Year} South Central League Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>@DateTime.Now.Year South Central League Schedule</h2>

        @*@Html.ActionLink("Create New", "Create")*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        @{ DateTime scheduledDate = DateTime.MinValue;}

        @foreach (var scheduledGame in Model)
        {
            if (!scheduledDate.DayOfYear.Equals(scheduledGame.ScheduledDate.DayOfYear))
            {
                <br />
                if (scheduledGame.PlayedDate.HasValue || scheduledGame.InningsPlayed == -1)
                {
                    <div style="text-decoration:underline;text-align:center;color:red;"><strong>@scheduledGame.ScheduledDate.ToString("dddd, MMMM dd")</strong></div>
                }
                else
                {
                    <div style="text-decoration:underline;text-align:center;"><strong>@scheduledGame.ScheduledDate.ToString("dddd, MMMM dd")</strong></div>
                }
            }

            <div style="text-align:center;">
                @if (scheduledGame.PlayedDate.HasValue)
                {
                    <span style="color:red;">
                        @Html.DisplayFor(modelscheduledGame => scheduledGame.AwayTeam) @Html.DisplayFor(modelscheduledGame => scheduledGame.AwayScore) @@ @Html.DisplayFor(modelscheduledGame => scheduledGame.HomeTeam) @Html.DisplayFor(modelscheduledGame => scheduledGame.HomeScore)
                        @if (scheduledGame.IsOnRadio)
                        {
                            <span>(@scheduledGame.RadioStation)</span>
                        }
                    </span>
                }
                else if (scheduledGame.InningsPlayed == -1)
                {
                    <span style="color:blue;">
                        @Html.DisplayFor(modelscheduledGame => scheduledGame.AwayTeam) @@ @Html.DisplayFor(modelscheduledGame => scheduledGame.HomeTeam)
                        @if (scheduledGame.IsOnRadio)
                        {
                            <span>(@scheduledGame.RadioStation) - PPD</span>
                        }
                        else
                        {
                            <span> - PPD</span>
                        }
                    </span>
                }
                else
                {
                    <span>
                        @Html.DisplayFor(modelscheduledGame => scheduledGame.AwayTeam) @@ @Html.DisplayFor(modelscheduledGame => scheduledGame.HomeTeam)
                        @if (scheduledGame.ScheduledDate.Hour > 0 && scheduledGame.ScheduledDate.Hour != 19) // 19 is for the 7:30PM regular games
                        {
                            var postfix = "AM";
                            var hour = scheduledGame.ScheduledDate.Hour;
                            if (hour >= 12)
                            {
                                postfix = "PM";
                            }
                            if (hour > 12)
                            {
                                hour = hour - 12;
                            }
                            if (scheduledGame.ScheduledDate.Minute == 0)
                            {
                                <span>(@hour @postfix)</span>
                            }
                            else
                            {
                                <span>(@hour:@scheduledGame.ScheduledDate.Minute @postfix)</span>
                            }
                        }
                        @if (scheduledGame.IsOnRadio)
                        {
                            <span>(@scheduledGame.RadioStation)</span>
                        }
                    </span>
                }
            </div>

            scheduledDate = scheduledGame.ScheduledDate;
        }

        @*<br />
            <div style="text-decoration:underline;text-align:center;"><strong>District 6A Tournament - Times & Locations TBD</strong></div>
            <div style="text-align:center;">Thursday, July 26 - Saturday, July 28</div>*@

        <br />
        <div>
            <div style="text-decoration:underline;text-align:center;"><strong>District 6A Tournament - TBD</strong></div>
        </div>

        <br />
        <div>
            <div style="text-decoration:underline;text-align:center;"><strong>District 6B Tournament - Wynot</strong></div>
            <div style="text-align:center;">Thursday, July 25 - Saturday, August 3</div>
        </div>

        <br />
        <div>
            <div style="text-decoration:underline;text-align:center;"><strong>Class A State Tournament - TBD</strong></div>
        </div>

        <br />
        <div>
            <div style="text-decoration:underline;text-align:center;"><strong>Class B State Tournament - Mitchell</strong></div>
            <div style="text-align:center;">Wednesday, August 7 - Sunday, August 18</div>
        </div>
    </div>
</div>
