@model List<SclBaseball.ViewModels.ScheduleViewModel>

@{
    ViewBag.Title = $"{DateTime.Now.Year} South Central League Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>@DateTime.Now.Year South Central League Schedule</h2>

        @*@Html.ActionLink("Create New", "Create")*@
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        @*<div><span><button type="button" class="btn btn-danger btn-toggle-reg-szn">Show Regular Season</button></span></div>*@

        <div class="scl-regular-season-container"> @*style="display:none;">*@
            @foreach (var scheduledDate in Model)
            {
                <br />
                @*@game.GameClass*@
                <div class="scheduled-game-header @scheduledDate.HeaderClass"><strong>@scheduledDate.ScheduledDate.ToString("dddd, MMMM dd")</strong></div>
                
                foreach (var game in scheduledDate.ScheduledGames)
                {
                    <div class="scheduled-game">
                        <span class="@game.GameClass">
                            @game.ScheduledGameText <span>@game.RadioStationText @game.PostponedText</span>
                        </span>
                    </div>
                }
            }
        </div>

        <br />
        <div>
            <div class="scheduled-game-header"><strong>District 6A Tournament - TBD</strong></div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-header"><strong>District 6B Tournament - Menno</strong></div>
            <div class="scheduled-game">Thursday, July 23 - Saturday, August 1</div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-header"><strong>Class A State Tournament - TBD</strong></div>
        </div>

        <br />
        <div>
            <div class="scheduled-game-header"><strong>Class B State Tournament - Mitchell</strong></div>
            <div class="scheduled-game">Wednesday, August 5 - Sunday, August 16</div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-toggle-reg-szn').click(function () {
            $('.scl-regular-season-container').slideToggle("fast");
            var btnToggleButton = $('.btn-toggle-reg-szn');
            var btnText = btnToggleButton.text();
            if (btnText === "Show Regular Season") {
                btnToggleButton.text("Hide Regular Season");
            } else {
                btnToggleButton.text("Show Regular Season");
            }
        });
    });
</script>